/*=========================================

	Demo

===========================================*/

.demo-image {
	img {
		max-height:67px;
		margin:0 auto 1rem;

	}
}

.demo-screen {
	height:200px;
	margin:0 auto 1rem;
	overflow:hidden;
	border:2px solid $gray-100;
}

.home {
	text-align:center;
	h2 {
		margin-top:1rem;
	}
	h3 {
		text-align:center;
	}
}

/* img,
.css_nano+p,
[img*="css_nano"],
.css_nano {
  display: flex;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  font-weight: normal;
  padding: 1.75rem;
  width: calc(50rem - (2 * 1.75rem));
} */
