/*!
 * Theme Name: shwib complex
 * Theme URI: http://littlewebgiants.com
 * Description: A starter kit for rapid Wordpress theme development
 * Version: 2.0
 * Author: Melanie Thewlis & Sascha-Darius Knießner
 * Author URI: http://littlewebgiants.com
 */

$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: black;
}


// Core functions, variables and mixins
//@import "_bootstrap_custom.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/print";
@import "variables";

// Reset and dependencies



// Core CSS
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";

// Components
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/jumbotron";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/media";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";


// Components w/ JavaScript
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";

// Utility classes
@import "../../../node_modules/bootstrap/scss/utilities";



//@import "compass/css3";
@import 'icons';
@import 'accessibility';
@import 'wordpress-core';
@import 'basic-styles';
@import 'typography';
@import 'menus';
@import 'search';
@import 'footer';
@import 'forms';
@import 'comments';
@import 'home';
@import 'archives';
@import 'pages';
@import 'posts';
@import 'demo';
